/* .float-left {
  float: left;
} */
header {
  text-align: center;
}
#title, #url {
  width: 90%;
}
#description {
  width:100%;
  height:90px;
}
.block {
  display: block;
}

.error{
  color: red;
}

.bookmark {
  border: 1px solid darkkhaki;
  list-style-type: none;
}
ul{
  list-style-type: none;
}
.centering-text {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.description-box {
  border: 1px solid darkkhaki;
}